@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.gmnoprint {
  display: none;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
